@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

body {
    font-family: 'Beiruti', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    padding: 1rem;
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% - 1rem);
    max-width: 1400px;
  }
}

.text12{
    font-size: 12px;
}

.text14{
    font-size: 14px;
}

.text16{
    font-size: 16px;
}

.text-brown{
    color: #180800;
}

.bg-orange{
    background-color: #f95307;
}

header {
  nav {

    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px 2px #b500000d;
    ul{
        list-style: none;
        position: relative;
        top: 0.5rem;
        gap:clamp(1rem, 3vw, 2rem);
        li{
            list-style: none;
        }

        li:hover{
            color: #f95307;
            cursor: pointer;
        }
    }
    .logo{
        width: 30px;
    }
  }
}
